<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Webquiz</display-name>
	<description>
		A web based quiz manager/interface.
	</description>

	<servlet>
		<servlet-name>Quiz</servlet-name>
		<servlet-class>QuizController</servlet-class>
	</servlet>
	
	<servlet>
	    <servlet-name>Mark</servlet-name>
	    <servlet-class>MarkController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Quiz</servlet-name>
		<url-pattern>/play.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	    <servlet-name>Mark</servlet-name>
	    <url-pattern>/mark.jsp</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	    <welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

</web-app>